body {background-color: #dd4b39; margin: 0px; padding: 0px;s}

#container {
    width: 875px;
    min-height: 500px;
    background: black;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 50px ;

}

.image-wrap {;
    margin: 10px;
    background: #4699a0;
    /*min-width: 100%;
    max-width: 100%;*/
    display: inline-block;
    background-size: cover;

   overflow: hidden; /*Neiseina uz ribu*/

}

/*
.image-wrap img {
    max-width: 100%;
}

.image-wrap img:hover {
    transform: scale(1.5);
}*/
